.StatusPanel{
    border: 4px black solid;
    width: 49%;
    margin: auto;
    margin-right: 28%;
    font-weight: bold;
    font-size: 15px;
    background-image: linear-gradient(115deg, #ffffff 0%, #cea177 20%);
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}