
.dice{
    border: 2px black solid;
    background-color: red;
    width: 38px;
    height: 38px;
    border-radius: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 3px;
    margin:3px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: wave;
    transform-origin: 70% 70%;
}

.dot{
    background-color: white;
    border-radius: 50%;
    margin: 1px;
}

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(12deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(9deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  

  @media (max-width: 400px){

    .dice{
      width: 18px;
      height: 18px;

  }
    
}